*{
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 157px;
  top: 77px;
  width: 790px;
  height: 153px;
  animation: backInDown 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

